---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---
"Welcome to my research portfolio. Central to my research is the theme of 'Interaction and Comprehension in Learning Environments'. 
My early work explored literacy and knowledge structures, understanding them as foundational elements in the way individuals learn and process information. 
Later, I investigated how these foundations engage with and are manifested in broader, collective settings, especially within networked learning environments. 
Journey with me to catch the intricate relationship between the vast realm of individual understanding and collaborative learning."
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
